<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for中key的使用</title>
    <script src="lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <label>Id<input type="text" v-model="id"></label>
        <label>Name<input type="text" v-model="name"></label>
        <input type="button" value="添加" @click="add">
        <div v-for="item in list" :key="item.id">
            <label><input type="checkbox">{{item.id}}----{{item.name}}

            </label>
        </div>

    </div>



    <script>
        var vm = new Vue({
            el: '#app',

            data: {
                id: '',
                name: '',
                list: [{
                    id: 1,
                    name: '李斯'
                }, {
                    id: 2,
                    name: '嬴政'
                }, {
                    id: 3,
                    name: '赵高'
                }, {
                    id: 4,
                    name: '荀子'
                }]
            },
            methods: {
                add() {
                    // this.list.push({
                    //     id: this.id,
                    //     name: this.name
                    // })
                    this.list.unshift({
                        id: this.id,
                        name: this.name
                    })
                }
            }
        })
    </script>
</body>

</html>